<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
        <title>Register Todo</title>
    </head>
    <body>

        <main>
            <header><h1>Novo Todo</h1></header>
            <ul>
                <li><a href="{% url 'list_todos' %}">Lista de Todos</a></li>
                <li><a href="{% url 'register_todos' %}">Cadastro de Todos</a></li>
            </ul>
            <div>
                <form  method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit">Add</button>
                </form>
            </div>
            <footer>Todos os direitos reservados</footer>
        </main>
    </body>
</html>